## List Comprehension

You can get to the same result with ordinary python code, but List Comprehensions allow to write less, easy to read and efficient code: 
1. [expr for val in collection]
2. [expr for val in collection if <condition>]
3. [expr for val in collection if <condition 1> and <condition 2>
4. [expr for val1 in collection1 and val2 in collection2]

Calculating the squares of numbers between 1 and 100 with a for loop

In [1]:
squares = []
for i in range(1,101):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Do the same but with a list comprehension with one line of code

In [3]:
squares = [i**2 for i in range(1,101)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

List Comprehension on list of tuples

In [7]:
movies = [('Movie1', 2000), ('Movie2', 1999), ('Movie3', 2001), ('Movie4', 1998)]
titles = [title for (title, year) in movies]
print(titles)

['Movie1', 'Movie2', 'Movie3', 'Movie4']

In [8]:
titles_before2000 = [title for (title, year) in movies if year < 2000]
print(titles_before2000)

['Movie2', 'Movie4']

Multiply a list by a scalar

In [10]:
v = [1, 2, 3]
print(4*v) #wrong way -> this is like appending it 4 times

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
w = [4*i for i in v]
print(w)

[4, 8, 12]

List of lists of dictionaries

In [14]:
user_groups = [
    [{'name':'Mark', 'age': 32},
     {'name':'Louis', 'age': 30},       
    ],
    
    [{'name':'Matt', 'age': 22},
     {'name':'Lidia', 'age': 20},   
    ],
    
    [{'name':'Mary', 'age': 25},
     {'name':'Max', 'age': 42},     
    ]    
]

In [15]:
user_name = [person['name'] for group in user_groups for person in group]
print(user_name)

['Mark', 'Louis', 'Matt', 'Lidia', 'Mary', 'Max']

In [16]:
user_name_older_than30 = [person['name'] for group in user_groups for person in group if person['age'] > 30]
print(user_name_older_than30)

['Mark', 'Max']